#map{
    height: 100vh;
    width: 80%;;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.store-list{
    width: 20%;
    height: 100vh;
    overflow: auto;
    background: whitesmoke;
}
body{
    font-family: "Nunito sans", sans-serif;
}
main{
    display: flex;
}
.store-list .heading{
    background-color: rgb(61, 103, 218);
    color: white;
}
.store-list .heading h2 {
    padding: 1rem;
}
::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    border-left: 0;
    background: rgb(0, 0, 0,0.1);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(61, 103, 218);
    border-radius: 0;
}
.store-list ul.list{
    padding: 0 1rem;
    list-style-type:none;
}
.store-list .shop-item{
   margin: 1rem 0;
   border-bottom: 1px solid rgb(0, 0, 0,0.1);
   padding-bottom: 2rem;
}
.store-list li:last-child .shop-item {
     border: none; /*last wala li  */
}
.store-list .shop-item a {
    text-decoration: none;
    font-size: 20px;
    color:  rgb(61, 103, 218);
    font-weight: 700;
}
.store-list .shop-item a:hover{
    color: brown;
}
.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper h4 {
    padding:  16px;
    background: rgb(61, 103, 218);
    color:white;
    font-size:16px;
}
.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-no {
    padding: 16px;
    padding-top: 0;
}.leaflet-pop-content-wrapper .leaflet-popup-content .phone-no a{
    color:green;
    font-size: 14px;
}